body{
    margin:0;
    text-align: center;
    font-family: 'Merriweather', serif;
    
}
.top-container{
    background-color:#E4F9F5;
    position:relative;
    padding-top: 100px;

    
}
hr{
    margin:50px auto 50px auto;
    color:lightgrey;
    border-style:none;
    border-top-style:dotted ;
    border-width: 15px;
    width:10%;

}
.bottom-container{
    
    background-color: #66BFBF;
    padding-top:50px;


   
}

h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size:5.625rem;
    color:#66BFBF;
    line-height: 2;
    
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size:2.5rem;
    color:#66BFBF;
    font-weight: normal;
    
}
p{
    margin:0 auto;

}
.bottom-cloud{
    position:absolute;
    left:300px;
    bottom:300px;
    
}
.top-cloud{
    position:absolute;
    right:300px;
    top:50px;
}
h3{
    color:#11999E;
}
a{
    color:#11999E;
}
.skill-row{
    width: 50%;
    margin:100px auto 100px auto;
    text-align: left;
    line-height: 2;
   

}
.sql{
    width:30%;
    float:left;
    margin-right:30px;
}
.webdev{
    width:30%;
    float:right;
    margin-left:30px;
}
.intro{
    color:#40514E;
}
.skill-heading{
    color:#66BFBF;
    
}
.btn {
    margin:50px auto 50px auto;

    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
.Copyright{
    color:#EAF6F6;
    padding-top:70px;
    padding-bottom:30px;
}
.footer-link{

    
    color:#11999E;
    margin-right:20px;
   

}
.contact-me{
    padding:10px;
    margin:50px;
   
}
.middle-container{
    margin-top: 50px;

}
